<div data-wf--navbar--variant="with-banner---black" class="navbar_main">
  <section class="banner_component w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04">
    <div class="padding-global is-stretch-banner w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04">
      <div class="container-banner-top">
        <div class="banner_wrapper w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04">
          <div class="banner_content w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04"
            style="text-align: center; width: 100%;">
            <div class="banner_rich-text w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04 w-richtext">
              <p>
                <strong> Need help removing unwanted reviews from your accounts? We can
                  assist you!
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="navbar-left w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04"><a href="/" class="brand w-nav-brand"><img
        src="/assets/images/logo_white.png" loading="lazy" alt="741 Studio" class="image_nav-logo-desktop"
        style="max-height: 48px; width: auto;" /><img src="/assets/images/logo_white.png" loading="lazy"
        alt="741 Studio" height="30" class="image_nav-logo-mobile w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04"
        style="max-height: 38px; width: auto;" /></a></div>
  <div class="navbar-right w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04">
    <div class="nav-bar-right">
      <div class="nav-links-wrapper">
        <a href="/pages/portfolio_full.html" class="nav_text-link w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04">
          Portfolio
        </a>
        <a href="/pages/local-seo.html" class="nav_text-link w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04">
          Local SEO
        </a>
        <a href="/pages/about.html" class="nav_text-link w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04">
          About
        </a>

        <a href="http://clients.741-studio.com/" class="nav_text-link w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04">
          Sign In
        </a>
      </div>
    </div>
    <div class="navbar_main-cta-wrapper">
      <div class="huge_nav-button-dummy">
        <div class="nav-button-spacer">
        </div>
        <div class="nav-link-text-block-large nav-normal-case">
          Start Now
        </div>
      </div>
    </div>
  </div>
  <a id="try_now_top" href="https://form.typeform.com/to/VmiA3c6t?startpoint=intro"
    class="huge_nav-button is-real w-variant-138f51c6-a923-3c01-fe1a-d27a5c95ed04 w-inline-block">
    <div class="nav-button-spacer">
    </div>
    <div class="nav-link-text-block-large nav-normal-case">
      Start Now
    </div>
  </a>
</div>